* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  height: 100vh;
  background: darkgreen;
}

.dicepart {
  width: 250px;
  padding: 50px;
  border-radius: 10px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: burlywood;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.how {
  position: relative;
  bottom: -40px;
  text-decoration: underline;
  cursor: pointer;
}

.howtext {
  text-align: left;
  text-transform: uppercase;
}

h4 {
  margin: 5px;
}

.img {
  width: 70%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 20px;
}

.btn {
  background: #fa5252;
  color: white;
  border: 1px solid #fa5252;
  width: 119px;
  height: 35px;
  transition: 0.2s all linear;
}

.btn:hover {
  color: white;
  cursor: pointer;
  border: 2px solid #fa3254;
  background-color: #fa3254;
}

.box {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  height: 150px;
}
.box button {
  /* background:burlywood; */
  color: #000;
  font-size: larger;
  border: 1px solid darkgreen;
  padding: 20px 40px;
  border-radius: 5px;
  width: 100px;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  transition: 0.2s all linear;
}

.clicked {
  /* background:#6c6b76; */
  background: red;
}
.notclicked {
  /* background:#6c6b76; */
  background: white;
}

/* .box button:hover{
        background-color:#6c6b76;
        border: 1px solid #6c6b76;
        color: #fff;
} */

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -67%) scale(1);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.howtopopup {
  padding: 40px 30px 30px;
}
